{
   "id": "ajet6bikuoot3ag48gq4",
   "service_account_id": "aje12il832r8ngrvk34d",
   "created_at": "2023-04-23T22:21:13.420126832Z",
   "key_algorithm": "RSA_2048",
   "public_key": "<public key>",
   "private_key": "<private_key>"
}